body {
  line-height: 1.3rem;
  font-size: 15px; }

article {
  max-width: 642px;
  margin: 90px auto; }

header {
  text-align: center; }
  header h1 {
    font-size: 1.6rem;
    line-height: 0; }
  header em {
    font-size: 1.2rem; }
  header strong {
    font-size: 1rem; }

p {
  margin-bottom: 1rem; }

ol {
  list-style-type: none;
  counter-reset: num;
  padding: 0; }

.main-list h2 {
  line-height: 2rem; }

.main-list h2::before {
  content: counter(num) " ";
  counter-increment: num; }

.underline-text {
  text-decoration: underline; }

.second-list h3::before {
  content: "2." counter(num);
  counter-increment: num;
  margin-right: 0.5rem; }

.img-left {
  overflow: hidden;
  height: 170px;
  float: left;
  margin: 0 1rem 0 0; }
  @media only screen and (max-width: 600px) {
    .img-left {
      float: none; }
      .img-left img {
        max-width: 260px;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto; } }

.img-center {
  overflow: hidden; }
  .img-center img {
    display: block;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    height: auto; }

.right-align {
  text-align: right; }

.dotted {
  list-style-type: disc;
  margin: 3rem 0; }
  .dotted li {
    padding-left: 0.7rem; }

.small-ol {
  padding-left: 40px; }
  .small-ol p {
    margin: 0; }
  .small-ol li {
    list-style-type: decimal;
    padding-left: 0.7rem; }
